<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
  </head>
  
  <body>
    <!--Flash needs bootstrap in order to close-->
    <% const categories = Object.keys(flashes) %> <% categories.map((category) => { %>
    <div class="container">
      <% flashes[category].map((message) => { %>
      <div class="alert alert-<%= category %> alert-dismissible" role="alert">
        <%- message %>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% }) %>
    </div>
    <% }) %>