<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>

    <link rel = "stylesheet" href = "/styles/style.css">

    <link rel = "stylesheet" href = "/styles/addEditNote.css">
    <link rel = "stylesheet" href = "/styles/allNotes.css">
    <link rel = "stylesheet" href = "/styles/loginRegister.css">
  </head>
  
  <body>