<div id = note>
    <div id = "note-title">
        <a href = "/notes/<%= note.slug %>"><%= note.title %></a>
    </div>

    <div id = "note-options">
        <form action = "/notes/<%= note._id %>/delete?_method=DELETE" method = "POST">
            <button type = "submit" id = "note-options-delete"></button>
        </form>
    </div>
</div>