<%- include("./partials/header.ejs", {title}) %>

    <form
        action = "/add"
        method = "POST"
    >
        <!--Title-->
        <div class = "title">
            <input 
                type = "text"
                name = "title"
                placeholder = "Enter note title (required)"
            >
        </div>

        <!--Content-->
        <div class = "content">
            <textarea
                name = "content"
                placeholder = "Enter note body"
            ></textarea>
        </div>

        <button type = "submit" class = "submit"></button>
    </form>  

<%- include("./partials/footer.ejs") %>