<%- include("./partials/header.ejs", {title}) %>

<form
    action = "/logout"
    method = "GET"
>
    <!--Submit Button-->
    <div id = "logout">
        <button type = "submit">Log Out</button>
    </div>
</form>

<div class = "notebook" id = "allNotes-notebook">

    <div id = "allNotes-notebook-heading">
        <h1 id = "allNotes-notebook-title">Notes</h1>

        <a href = "/notes/add" id = "allNotes-notebook-heading-newNote">
            <button></button>
        </a>
    </div>

    <% notes.map(note => { %>
        <%- include("./components/listNote.ejs", {note}) %>
    <% }) %>

</div>

<%- include("./partials/footer.ejs") %>