<%- include("./partials/header.ejs", {title}) %>



<div class = "log" id = "log-login">

    <h1><%= title %></h1>
    
    <form
        action = "/login"
        method = "POST"
    >
        <!--Username-->
        <div class = "username">
            <input
                type = "text"
                name = "username"
                placeholder = "username"
            >
        </div>
        
        <!--Password-->
        <div class = "password">
            <input
                type = "text"
                name = "password"
                placeholder = "password"
            >
        </div>

        <button type = "submit" class = "submit"></button>
        
    </form>  
</div>

<%- include("./partials/footer.ejs") %>