<%- include("./partials/header.ejs", {title}) %>

<div id = "registration-errors">
    <% if(errors.length > 0) { %>
        <ul id = "errors-list">
            <% errors.forEach(msg => { %>
                <li><%= msg %></li>
            <% }) %>
        </ul>
    <% } %>
</div>

<div class = "log" id = "log-register">
    <h1><%= title %></h1>

    <form
        action = "/register"
        method = "POST"
    >
        <!--Username-->
        <div class = "username">
            <input
                type = "text"
                name = "username"
                placeholder = "username"
            >
        </div>
        
        <!--Password-->
        <div class = "password">
            <input
                type = "text"
                name = "password"
                placeholder = "password"
            >
        </div>

        <!--Confirm Password-->
        <div class = "confirm-password">
            <input
                type = "text"
                name = "confirm-password"
                placeholder = "confirm password"
            >
        </div>

        <button type = "submit" id = "loginRegister-submit"></button>
    </form>

    <a href = "/login">Login</a>
</div>  

<%- include("./partials/footer.ejs") %>